@charset "UTF-8";
.lnb{position:absolute;top:0;left:0;z-index:2;width:475px;height:100vh;box-shadow:0 0 15px #222;background:#fff}
.lnb h1{width:100%;height:70px;background-image:linear-gradient(to right, #2C2D38, #484963, #2C2D38);display:flex;justify-content:center;align-items:center}
.lnb h1 a{color:#fff;font-size:18px}
.lnb h1 a span{font-size:20px;font-family:poppins;margin-right:5px}
.lnb h1 a:hover{text-decoration:none}

.lnb_contents{border-top:2px solid #222}

/* nav */
.nav{display:flex;margin-bottom:7px}
.nav li{flex:1}
.nav li a{display:block;margin-right:1px;text-align:center;height:50px;line-height:48px;background:#e9e9e9;font-size:17px;font-weight:500;color:#676767}
.nav li a:hover,.nav li a.on{background:#879DBE;color:#fff;text-decoration:none;}
.nav li:last-child a{margin-right:0}

/* table */
.main_table{border-top:2px solid #222;border-bottom:1px solid #ccc}
.main_table table{width:100%;text-align:center;border-collapse:collapse}
.main_table table th{background:#F3F5F8;height:40px;padding:4px;color:#222;font-size:16px;font-weight:400;vertical-align:middle;font-weight:500;
    border-right:1px solid #CCD5E2}
.main_table table th.th_line{border-bottom:1px solid #CCD5E2;}
.main_table table th:last-child{border-right:none}
.main_table table tbody{border-top:2px solid #CCD5E2}
.main_table table td{background-color:#fff;color:#555;height:55px;padding:0 10px;vertical-align:middle;font-size:17px}      
.main_table table tr:nth-child(2n) td{background:#F3F3F3}

/* point */
.step_point{display:inline-block;width:10px;height:10px;border-radius:50%;margin-right:7px}
.bgcolor_step1{background-color:#0DA6FD;}
.bgcolor_step2{background-color:#FFC700;}
.bgcolor_step3{background-color:#FF7A00;}
.bgcolor_step4{background-color:#FF3D00;}

/* up down */
.step_up{display:inline-block;position: relative;color:#FF3D00}
.step_up:before{content: "";position:absolute;top:6px;left:-16px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;
    border-bottom:9px solid #FF3D00}
.step_down{display:inline-block;position: relative;color:#0DA6FD}
.step_down:before{content: "";position:absolute;top:6px;left:-16px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;
    border-bottom:9px solid #0DA6FD}

/* map */
.map img{width:100%;height:100vh}


/* input type */
.input_wrapper{position:relative;margin-bottom:20px;}
.input_field{width:200px;padding:10px;font-size:16px;border:1px solid #ccc;}
.input_label{position:absolute;top:-20px;left:12px;font-size:14px;color:#777;pointer-events:none;transition:0.2s ease-in-out}
.input_field:focus + .input_label,.input_field:not(:placeholder-shown) + .input-label{color:#333;}


/* login */
#login_wrap{width:100%;height:100vh;display:flex;overflow:hidden}
.login_bg{width:50%;position:relative;overflow:hidden}
.login_bg::before {content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:url('../images/login_bg2.jpg') right top no-repeat;background-size:cover}
.form{width:50%;display:flex;justify-content:center;align-items:center}
.login_box{max-width:680px;padding:0 20px;text-align:left}
.form h3{color:#2D2D39;font-size:38px;line-height:48px;margin-bottom:30px;letter-spacing:-2px}
.form h3 span{color:#2D2D39;font-size:24px;display:block;letter-spacing:0;font-weight:500}
.login_input{width:100%;margin-bottom:15px}
.login_input input{width:100%;border:1px solid #ddd;padding:0 8px;height:50px;line-height:50px}
.lable_type1{display:block;cursor:pointer;color:#666;font-weight:700;font-size:14px;margin-bottom:7px}
.sign_in{text-align:center;margin-top:70px}
.sign_in a{font-weight:bold;text-decoration:underline}
.id_check{display:flex;align-items:center}
.checkbox_label{font-size:13px;color:#676767;margin-left:7px}
.form button{cursor:pointer;background:#22325B;color:#fff;text-align:center;display:block;width:100%;height:60px;line-height:60px;border:0;font-size:16px;font-weight:700;margin-top:40px}
.form button:hover{background:#1c294b}


/* lnb form */
.field_type1{display:flex;flex-wrap:wrap;margin-top:-1px}
.field_type1 .label_title{min-width:85px;min-height:50px;background:#F3F5F8;color:#9399A3;display:flex;align-items:center;justify-content:center;border:1px solid #C7D1DF}
.field_type1 .field_wrap{display:flex;flex:1;min-width:0}
.field_type1 .field_wrap select{border:1px solid #C7D1DF;font-size:15px;flex:1;min-width:0;height:50px;margin-left:-1px}
.field_type1 .field_wrap input{border:1px solid #C7D1DF;font-size:15px;flex:1;min-width:0;height:50px;margin-left:-1px}
.field_type1 .field_wrap textarea{border:1px solid #C7D1DF;width:100%;margin-left:-1px;text-align:left;overflow-y:scroll}


.field_type1 .field_wrap_unit{display:flex;flex:1;min-width:0;border:1px solid #c7D1DF}
.field_type1 .field_wrap_unit input{border:0;font-size:15px;flex:1;min-width:0;height:50px;margin-left:-1px}
.field_type1 .field_wrap_unit .unit{display:flex;align-items:center;color:#666;font-weight:300;padding:0 7px 0 4px}


.field_type2{display:flex;padding:12px}
.field_wrap2{position:relative;width:100%;padding:0 2px}

.field_type2 input{background:#f3f3f3}
.field_type2 select{background-color:#f3f3f3;border:1px solid #C7D1DF;font-size:15px;flex:1;min-width:0;
    height:40px;line-height:40px;padding-right:24px;margin-left:-1px}

.label_type1{display:block;cursor:pointer;color:#666;font-weight:400;font-size:15px;margin-bottom:5px}
.label_type1 span{font-size:11px;line-height:13px}
.field_wrap3{display:flex;position:relative;width:100%;padding:0 2px}
.field_wrap3 .label_type1{white-space:nowrap;display:flex;align-items:center;margin-right:7px}


/* 버튼 */
.btn_wrap{display:flex;margin-top:20px;padding:0 15px}
.btn_wrap a{display:block;flex:1;text-align:center;height:60px;line-height:60px;color:#fff;border-radius:3px}
.btn_wrap a:hover{text-decoration:none}
.btn_wrap a.btn_run{background:#595A6C;margin-right:4px}
.btn_wrap a.btn_run:hover{background:#4b4b5c}
.btn_wrap a.btn_result{background:#5D8ACE}
.btn_wrap a.btn_result:hover{background:#5782c4}

/* 공통 */
.s_title{width:100%;height:38px;line-height:36px;color:#4B5B73;font-size:14px;font-weight:500;background:#e8eef7;
    border-top:1px solid #B0BFD6;border-bottom:1px solid #B0BFD6;padding:0 15px}
.input_type1{width:100%;border:1px solid #ddd;padding:0 8px;height:50px;line-height:50px;font-size:15px}

.txt_black{color:#222}
.txt_red{color:#e02121}
.txt_blue{color:#2a66d6}

/* 범례 */
.legend_wrap{position:absolute;bottom:20px;right:20px;}
.legend{position:relative;background-color:rgba(0, 0, 0, 0.7);border:1px solid #555;padding:15px 15px 55px}
.legend_item{display:flex;align-items:center;margin-bottom:1px;color: #fff;font-size:13px;font-weight:100;letter-spacing:0}
.legend_color{width:38px;height:13px;display:flex;align-items:center;margin:0 10px}
.legend_item span:first-child{display:block;text-align:right;min-width:52px}
.legend_item span:last-child{display:block;text-align:lerightt;}
.compass{position:absolute;bottom:20px;left:50%;transform:translateX(-50%);width:22px;height:31px;
    background:url('../images/compass.png') no-repeat;}